*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    font-style: italic;
}

a{
    text-decoration: none;
    font-weight: 700;
}

body{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /*border-bottom: 1px solid white; */
    /*box-shadow: 1px 1px 10px 1px white;*/
    /*border-bottom: 15px ridge yellowgreen;*/
   
}

.menu ul {
    display: flex;
    
}

.menu ul li{
    padding: 5px;
    border-right: 2px dashed white;
}
.menu ul li:first-child{
    border-left: 2px dashed white;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 48px;
}
.container{
    text-align: center;
}

.container .name h1{
    font-size: 45px;
}

.container .name h5{
    font-size: 25px;
}

.form{
    width: 40%;
    margin: 0 auto;
    border: thick double white;
    padding: 25px;
}

.form input{
    width: 50%;
}

.form button{
    width: 15%;
    color: black;
}

.ferramentas{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

#about{
    margin-bottom: 30px;
}